html, body {
    scroll-behavior: smooth;
    background-image: url(images/purplish3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-family: Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

model-viewer {
    width: 100vw;
    height: 100vh;
}

#loader {
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgb(54, 54, 54);             
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: sans-serif;
      font-size: 24px;
      z-index: 1000;
      transition: opacity 0.8s ease;
}


.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}

.loader:before, .loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset #fff;
  animation: l5 2.5s infinite;
}

.loader:after {
  animation-delay: -1.25s;
  border-radius: 0;
}

@keyframes l5{
  0%    {inset:0    35px 35px 0   }
  12.5% {inset:0    35px 0    0   }
  25%   {inset:35px 35px 0    0   }
  37.5% {inset:35px 0    0    0   }
  50%   {inset:35px 0    0    35px}
  62.5% {inset:0    0    0    35px}
  75%   {inset:0    0    35px 35px}
  87.5% {inset:0    0    35px 0   }
  100%  {inset:0    35px 35px 0   }
}



header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 8px;
    background: rgb(3, 3, 10);
    border-style: solid;
    border-bottom-width: 2px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: rgb(94, 94, 94);
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 10;

}

.header-buttons {
    display: flex;
    gap: 10px;
  }


.headerButton {
    cursor:pointer;
    transition-duration: 0.2s;
    background-color: transparent;
    border-style: solid;
    border-color: #f8fbf8;
    border-width: 2px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 6px 12px;
    font-family: Helvetica;
    margin-right: 3px;
}

.headerButton:hover {
    background-color: #f8fbf8;
    color: black;
}

a {
    text-decoration: none;
    color: #0067FF;
}

@font-face {
    font-family: ChakraBoldItalic;
    src: url(fonts/Chakra_Petch/ChakraPetch-BoldItalic.ttf);
}

@font-face {
    font-family: ChakraRegular;
    src: url(fonts/Chakra_Petch/ChakraPetch-Regular.ttf);
}

@font-face {
    font-family: ChakraBold;
    src: url(fonts/Chakra_Petch/ChakraPetch-Bold.ttf);
}

@font-face {
    font-family: ChakraLight;
    src: url(fonts/Chakra_Petch/ChakraPetch-Light.ttf);
}